.appHeader .x-panel-body {
	background-color: transparent;
	padding: 1px 0px 0px 5px;
	border: none;
	color: navy;
	font-family: 'Londrina Sketch', cursive;
	font-size: 26px;
	font-weight: 200;
	white-space: nowrap;
	text-shadow: 4px 4px 4px #777;
}

.appHeaderUsername .x-panel-body {
	background-color: transparent;
	padding: 1px 0px 0px 30px;
	border: none;
}

.appHeaderLogoutLink .x-panel-body {
	background-color: transparent;
	padding: 1px 30px 0px 30px;
	border: none;
}

